* text=auto

*.meta text eol=lf
*.cs text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf

*.png binary
*.jpg binary
*.psd binary
*.fbx binary
*.mp3 binary
*.wav binary

*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
